apiVersion: v1
kind: Service
metadata:
  name: zipkin-service
  namespace: facturacion
  labels:
    app: zipkin
    tier: infrastructure
spec:
  type: ClusterIP
  selector:
    app: zipkin
  ports:
  - name: http
    port: 9411
    targetPort: 9411
    protocol: TCP
  sessionAffinity: None
