apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: facturacion
  labels:
    app: backend
spec:
  type: LoadBalancer
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: backend
