apiVersion: v1
kind: Service
metadata:
  name: python-calculator-service
  namespace: facturacion
  labels:
    app: python-calculator
spec:
  type: ClusterIP
  ports:
  - port: 5000
    targetPort: 5000
    protocol: TCP
    name: http
  selector:
    app: python-calculator
