apiVersion: v1
kind: Service
metadata:
  name: debezium-connect
  namespace: facturacion
  labels:
    app: debezium-connect
    tier: infrastructure
spec:
  type: ClusterIP
  selector:
    app: debezium-connect
  ports:
  - name: http
    port: 8083
    targetPort: 8083
    protocol: TCP
  sessionAffinity: None
