apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: facturacion
  labels:
    app: kafka
    tier: infrastructure
spec:
  type: ClusterIP
  selector:
    app: kafka
  ports:
  - name: kafka
    port: 9092
    targetPort: 9092
    protocol: TCP
  sessionAffinity: None
